@font-face {
    font-family: "Soleto";
    src: url("fonter/Soleto-XBold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "Soleto";
    src: url("fonter/Soleto-Medium.ttf");
    font-weight: 600;
}
@font-face {
    font-family: "Soleto";
    src: url("fonter/Soleto-Regular.ttf");
    font-weight: normal;
}
@font-face {
    font-family: "Soleto";
    src: url("fonter/Soleto-Light.ttf");
    font-weight: 400
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Titillium+Web&display=swap');

:root {
    --background-color: #222222;
    --primary-color: ;
    --secondary-color: #F0F0F0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #ffffff;
}

html {
    scroll-behavior: smooth;
    font-family: "Soleto", 'Titillium Web', sans-serif;
    font-weight: normal;
    background-color: var(--background-color);
    scroll-padding-top: 10vh;
    line-height: 1.4;
}

h1 {
    font-family: "Soleto", 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 2.7rem;
    line-height: 2.1rem;
}
h2 {
    font-weight: 600;
    font-size: 1.3rem;
    color: black;
    text-decoration: underline;
}
@media only screen and (min-width: 768px) {
    html {
        font-size: 20px;
    }
}
p {
   font-size: 1rem;
   
}
a:hover {
    opacity: 0.8;
}
.blue {
    color: #3E7EE1;
    text-decoration-color: #3E7EE1;
}
.pink {
    color: #EB0077;
    text-decoration-color: #EB0077;
}
.orange {
    color: #F09700;
    text-decoration-color: #F09700;
}

.main-wrapper {
    display: grid;
    grid-template-areas: 
    "ma"
    "info"
    "sc"
    "fo";
    height: auto;
    grid-template-rows: 100vh auto auto 10vh;
}

header {
    height: 10vh;
    width: 100%;
    position: fixed;
}
header .header-bg {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    position: absolute;
}
.inner-header {
max-width: 1250px;
height: 100%;
display: flex;
justify-content: space-between;
align-items: center;
margin: 0 auto;
padding: 0 0.7rem;
position: relative;
}

@media screen and (max-width: 768px) {
header .toggler {
    position: absolute;
    top: 0;
    right: 0.7rem;
    z-index: 2;
    cursor: pointer;
    width: 10vh;
    height: 100%;
    opacity: 0;
    margin: 0;
}
header .hamburger {
    z-index: 1;
    width: 10vh;
    height: 100%;
    display: flex;
    align-items: center;
    /* padding: 0.5rem; */
}
header .hamburger > div {
    position: relative;
    width: 100%;
    height: 4px;
    background-color: #ffffff;
    transition: all 0.4s ease;
}
header .hamburger > div:before,
header .hamburger > div:after {
    content: "";
    position: absolute;
    z-index: 1;
    /* top: -14px; */
    top: -2vh;
    width: 100%;
    height: 4px;
    background: inherit;
}
header .hamburger > div:after {
    top: 2vh;
}
header .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
}
header .toggler:checked + .hamburger > div:before,
header .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
}
header .menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s ease;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    color: #ffffff;
}
header .show {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.4s ease;
}
header .menu ul li {
    padding: 1.2rem 1rem;
}
}

header .logoA {
    height: 75%;
    max-width: 70%;
    display: flex;
    align-items: center;
}
header a img {
    max-width: 100%;
    max-height: 100%;
}

@media only screen and (min-width: 768px) {
    header .toggler, .hamburger {
        visibility: hidden;
    }
    header .menu li {
        padding: 0 25px;
        display: inline-block;
    }
    header .menu li a {
        display: block;
        text-align: center;
    }
    header h1 {
        font-size: 1.2rem;
        font-weight: 600;
    }
}


main {
    grid-area: ma;
    background-color: var(--primary-color);
    color: #ffffff;
    overflow: hidden;
}
main .main-bg {
    opacity: 30%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
}
main .home-bg, .challenges-bg, .meetings-bg, .projects-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
}
main .challenges-bg {
    transform: translate(-60%, -50%);
}
main .home-bg {
    filter: contrast(70%);
}
main .projects-bg {
    transform: translate(-65%, -50%);
}

main .title {
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}
main .title .button {
    background-color: var(--secondary-color);
    border: none;
    color: black;
    padding: 0.5rem 1rem;
    cursor: pointer;
    display: inline-block;
    border-radius: 5px;
    margin-top: 4rem;
}
main .title .button h2 {
    text-decoration: none;
}
main .title .main-description {
    text-decoration: none;
    color: white;
    margin-top: 2rem;
    /* padding: 0 0.7rem; */
    line-height: 1.5rem;
    text-align: center;
    font-size: 1.3rem;
}
main .arrow {
    position: absolute;
    bottom: 15px;
    transform: rotate(270deg) scale(1.7);
    z-index: -1;
    align-self: center;
}
@media only screen and (min-width: 768px) {
    main .home-bg {
        height: auto;
    }
    main .title {
        text-align: left;
    }
    main .projects-bg {
        transform: translate(-50%, -50%);
    }
    main .challenges-bg {
        transform: translate(-50%, -50%);
    }
    main .title {
        max-width: 1250px;
        margin: 0 auto;
        align-items: flex-start;
    }
    main .title h1 {
        font-size: 5rem;
        line-height: 3.8rem;
    }
    main .title .main-description {
        font-size: 1.4rem;
        margin-top: 4rem;
        text-align: left;
        line-height: 1.8rem;
    }
}

.info {
    grid-area: info;
    padding: 50px 20px;
    max-width: 980px;
    margin: 0 auto;
    color: #ffffff;
}
.info h2 {
    text-decoration: underline;
    color: #ffffff;
    font-size: 1.8rem;
}
.info p {
    margin-top: 10px;
}
.info .button {
    background-color: var(--secondary-color);
    border: none;
    color: black;
    padding: 0.5rem 1rem;
    cursor: pointer;
    display: inline-block;
    border-radius: 5px;
    margin-top: 1rem;
}
.info .button h2 {
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

.card-deck-outer {
    /* grid-area: sc; */
    background-color: #F0F0F0;
}
.card-deck {
    max-width: 980px;
    height: auto;
    margin: 0 auto 50px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}
.card-deck-outer h1 {
    padding: 20px 0 0 20px;
    max-width: 980px;
    margin: 0 auto;
    color: black;
    font-size: 2rem;
}
.card-deck-outer i {
    color: black;
}
.card-deck .card {
    margin: 20px;
    height: auto;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-bottom: 20px;
    max-width: 450px;
}
.card-deck .card img {
    width: 100%;
    height: 190px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
.card-deck .card a {
    color: blue;
    text-decoration: underline;
}
.card-deck .card h2 {
    margin: 0 10px;
    text-decoration: underline;
}
.card-deck .card p {
    color: black;
    margin: 0 10px;
    margin-top: 5px;
}
.card-deck #maps {
    border: 0;
    width: 100%;
    height: 70vh;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}
.card-deck .github-card {
    margin: 20px;
    border-radius: 5px;
    max-width: 450px;
    width: 320px;
}
#DIV_1 {
    box-sizing: border-box;
    color: rgb(36, 41, 46);
    display: flex;
    height: 149.2px;
    min-height: auto;
    min-width: auto;
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none solid rgb(36, 41, 46);
    text-size-adjust: 100%;
    width: 311.725px;
    column-rule-color: rgb(36, 41, 46);
    perspective-origin: 155.863px 74.6px;
    transform-origin: 155.863px 74.6px;
    caret-color: rgb(36, 41, 46);
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(209, 213, 218);
    border-radius: 3px;
    font: 14px / 21px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    list-style: outside none none;
    outline: rgb(36, 41, 46) none 0px;
    padding: 16px;
}/*#DIV_1*/

#DIV_2 {
    box-sizing: border-box;
    color: rgb(36, 41, 46);
    display: flex;
    height: 115.2px;
    min-height: auto;
    min-width: auto;
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none solid rgb(36, 41, 46);
    text-size-adjust: 100%;
    width: 277.725px;
    column-rule-color: rgb(36, 41, 46);
    perspective-origin: 138.863px 57.6px;
    transform-origin: 138.863px 57.6px;
    caret-color: rgb(36, 41, 46);
    border: 0px none rgb(36, 41, 46);
    flex-flow: column nowrap;
    font: 14px / 21px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    list-style: outside none none;
    outline: rgb(36, 41, 46) none 0px;
}/*#DIV_2*/

#DIV_3 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(36, 41, 46);
    display: flex;
    height: 20.8px;
    left: 0px;
    min-height: auto;
    min-width: auto;
    overflow-wrap: break-word;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(36, 41, 46);
    text-size-adjust: 100%;
    top: 0px;
    width: 277.725px;
    column-rule-color: rgb(36, 41, 46);
    align-items: center;
    perspective-origin: 138.863px 10.4px;
    transform-origin: 138.863px 10.4px;
    caret-color: rgb(36, 41, 46);
    border: 0px none rgb(36, 41, 46);
    font: 14px / 21px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    list-style: outside none none;
    outline: rgb(36, 41, 46) none 0px;
}/*#DIV_3*/

#DIV_3:after {
    color: rgb(36, 41, 46);
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none solid rgb(36, 41, 46);
    text-size-adjust: 100%;
    column-rule-color: rgb(36, 41, 46);
    caret-color: rgb(36, 41, 46);
    border: 0px none rgb(36, 41, 46);
    font: 14px / 21px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    list-style: outside none none;
    outline: rgb(36, 41, 46) none 0px;
}/*#DIV_3:after*/

#DIV_3:before {
    color: rgb(36, 41, 46);
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none solid rgb(36, 41, 46);
    text-size-adjust: 100%;
    column-rule-color: rgb(36, 41, 46);
    caret-color: rgb(36, 41, 46);
    border: 0px none rgb(36, 41, 46);
    font: 14px / 21px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    list-style: outside none none;
    outline: rgb(36, 41, 46) none 0px;
}/*#DIV_3:before*/

#svg_4 {
    box-sizing: border-box;
    color: rgb(88, 96, 105);
    display: block;
    height: 16px;
    min-height: auto;
    min-width: auto;
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none solid rgb(88, 96, 105);
    text-size-adjust: 100%;
    vertical-align: text-bottom;
    width: 12px;
    column-rule-color: rgb(88, 96, 105);
    perspective-origin: 6px 8px;
    transform-origin: 6px 8px;
    fill: rgb(88, 96, 105);
    caret-color: rgb(88, 96, 105);
    border: 0px none rgb(88, 96, 105);
    flex: 0 0 auto;
    font: 14px / 21px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    list-style: outside none none;
    margin: 0px 8px 0px 0px;
    outline: rgb(88, 96, 105) none 0px;
    overflow: hidden;
}/*#svg_4*/

#svg_4:after {
    color: rgb(88, 96, 105);
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none solid rgb(88, 96, 105);
    text-size-adjust: 100%;
    column-rule-color: rgb(88, 96, 105);
    fill: rgb(88, 96, 105);
    caret-color: rgb(88, 96, 105);
    border: 0px none rgb(88, 96, 105);
    font: 14px / 21px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    list-style: outside none none;
    outline: rgb(88, 96, 105) none 0px;
}/*#svg_4:after*/

#svg_4:before {
    color: rgb(88, 96, 105);
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none solid rgb(88, 96, 105);
    text-size-adjust: 100%;
    column-rule-color: rgb(88, 96, 105);
    fill: rgb(88, 96, 105);
    caret-color: rgb(88, 96, 105);
    border: 0px none rgb(88, 96, 105);
    font: 14px / 21px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    list-style: outside none none;
    outline: rgb(88, 96, 105) none 0px;
}/*#svg_4:before*/

#path_5 {
    box-sizing: border-box;
    color: rgb(88, 96, 105);
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none solid rgb(88, 96, 105);
    text-size-adjust: 100%;
    column-rule-color: rgb(88, 96, 105);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    fill: rgb(88, 96, 105);
    fill-rule: evenodd;
    d: path("M 4 9 H 3 V 8 H 4 V 9 Z M 4 6 H 3 V 7 H 4 V 6 Z M 4 4 H 3 V 5 H 4 V 4 Z M 4 2 H 3 V 3 H 4 V 2 Z M 12 1 V 13 C 12 13.55 11.55 14 11 14 H 6 V 16 L 4.5 14.5 L 3 16 V 14 H 1 C 0.45 14 0 13.55 0 13 V 1 C 0 0.45 0.45 0 1 0 H 11 C 11.55 0 12 0.45 12 1 Z M 11 11 H 1 V 13 H 3 V 12 H 6 V 13 H 11 V 11 Z M 11 1 H 2 V 10 H 11 V 1 Z");
    caret-color: rgb(88, 96, 105);
    border: 0px none rgb(88, 96, 105);
    font: 14px / 21px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    list-style: outside none none;
    outline: rgb(88, 96, 105) none 0px;
}/*#path_5*/

#path_5:after {
    color: rgb(88, 96, 105);
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none solid rgb(88, 96, 105);
    text-size-adjust: 100%;
    column-rule-color: rgb(88, 96, 105);
    fill: rgb(88, 96, 105);
    fill-rule: evenodd;
    caret-color: rgb(88, 96, 105);
    border: 0px none rgb(88, 96, 105);
    font: 14px / 21px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    list-style: outside none none;
    outline: rgb(88, 96, 105) none 0px;
}/*#path_5:after*/

#path_5:before {
    color: rgb(88, 96, 105);
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none solid rgb(88, 96, 105);
    text-size-adjust: 100%;
    column-rule-color: rgb(88, 96, 105);
    fill: rgb(88, 96, 105);
    fill-rule: evenodd;
    caret-color: rgb(88, 96, 105);
    border: 0px none rgb(88, 96, 105);
    font: 14px / 21px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    list-style: outside none none;
    outline: rgb(88, 96, 105) none 0px;
}/*#path_5:before*/

#A_6 {
    box-sizing: border-box;
    color: rgb(3, 102, 214);
    display: block;
    height: 20.8px;
    min-height: auto;
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none solid rgb(3, 102, 214);
    text-size-adjust: 100%;
    width: 241.725px;
    column-rule-color: rgb(3, 102, 214);
    perspective-origin: 120.863px 10.4px;
    transform-origin: 120.863px 10.4px;
    caret-color: rgb(3, 102, 214);
    border: 0px none rgb(3, 102, 214);
    flex: 1 1 auto;
    font: 600 14px / 21px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    list-style: outside none none;
    outline: rgb(3, 102, 214) none 0px;
}/*#A_6*/

#A_6:after {
    color: rgb(3, 102, 214);
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none solid rgb(3, 102, 214);
    text-size-adjust: 100%;
    column-rule-color: rgb(3, 102, 214);
    caret-color: rgb(3, 102, 214);
    border: 0px none rgb(3, 102, 214);
    font: 600 14px / 21px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    list-style: outside none none;
    outline: rgb(3, 102, 214) none 0px;
}/*#A_6:after*/

#A_6:before {
    color: rgb(3, 102, 214);
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none solid rgb(3, 102, 214);
    text-size-adjust: 100%;
    column-rule-color: rgb(3, 102, 214);
    caret-color: rgb(3, 102, 214);
    border: 0px none rgb(3, 102, 214);
    font: 600 14px / 21px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    list-style: outside none none;
    outline: rgb(3, 102, 214) none 0px;
}/*#A_6:before*/

#SPAN_7 {
    box-sizing: border-box;
    color: rgb(3, 102, 214);
    cursor: pointer;
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none solid rgb(3, 102, 214);
    text-size-adjust: 100%;
    column-rule-color: rgb(3, 102, 214);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(3, 102, 214);
    border: 0px none rgb(3, 102, 214);
    font: 600 14px / 21px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    list-style: outside none none;
    outline: rgb(3, 102, 214) none 0px;
}/*#SPAN_7*/

#SPAN_7:after {
    color: rgb(3, 102, 214);
    cursor: pointer;
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none solid rgb(3, 102, 214);
    text-size-adjust: 100%;
    column-rule-color: rgb(3, 102, 214);
    caret-color: rgb(3, 102, 214);
    border: 0px none rgb(3, 102, 214);
    font: 600 14px / 21px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    list-style: outside none none;
    outline: rgb(3, 102, 214) none 0px;
}/*#SPAN_7:after*/

#SPAN_7:before {
    color: rgb(3, 102, 214);
    cursor: pointer;
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none solid rgb(3, 102, 214);
    text-size-adjust: 100%;
    column-rule-color: rgb(3, 102, 214);
    caret-color: rgb(3, 102, 214);
    border: 0px none rgb(3, 102, 214);
    font: 600 14px / 21px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    list-style: outside none none;
    outline: rgb(3, 102, 214) none 0px;
}/*#SPAN_7:before*/

#INPUT_8 {
    background-position: right 8px 50%;
    box-shadow: rgba(27, 31, 35, 0.075) 0px 1px 2px 0px inset;
    color: rgb(36, 41, 46);
    cursor: default;
    display: none;
    min-height: 34px;
    overflow-wrap: break-word;
    text-decoration: none solid rgb(36, 41, 46);
    text-size-adjust: 100%;
    vertical-align: middle;
    column-rule-color: rgb(36, 41, 46);
    caret-color: rgb(36, 41, 46);
    background: rgb(255, 255, 255) none no-repeat scroll right 8px 50% / auto padding-box border-box;
    border: 1px solid rgb(209, 213, 218);
    border-radius: 3px;
    font: 14px / 20px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    list-style: outside none none;
    outline: rgb(36, 41, 46) none 0px;
    padding: 6px 8px;
}/*#INPUT_8*/

#INPUT_8:after {
    color: rgb(36, 41, 46);
    cursor: default;
    overflow-wrap: break-word;
    text-decoration: none solid rgb(36, 41, 46);
    text-size-adjust: 100%;
    column-rule-color: rgb(36, 41, 46);
    caret-color: rgb(36, 41, 46);
    border: 0px none rgb(36, 41, 46);
    font: 14px / 20px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    list-style: outside none none;
    outline: rgb(36, 41, 46) none 0px;
}/*#INPUT_8:after*/

#INPUT_8:before {
    color: rgb(36, 41, 46);
    cursor: default;
    overflow-wrap: break-word;
    text-decoration: none solid rgb(36, 41, 46);
    text-size-adjust: 100%;
    column-rule-color: rgb(36, 41, 46);
    caret-color: rgb(36, 41, 46);
    border: 0px none rgb(36, 41, 46);
    font: 14px / 20px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    list-style: outside none none;
    outline: rgb(36, 41, 46) none 0px;
}/*#INPUT_8:before*/

#SPAN_9 {
    box-sizing: border-box;
    color: rgb(88, 96, 105);
    display: block;
    height: 20.8px;
    min-height: auto;
    min-width: auto;
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none solid rgb(88, 96, 105);
    text-size-adjust: 100%;
    width: 16px;
    column-rule-color: rgb(88, 96, 105);
    perspective-origin: 8px 10.4px;
    transform-origin: 8px 10.4px;
    caret-color: rgb(88, 96, 105);
    border: 0px none rgb(88, 96, 105);
    font: 14px / 21px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    list-style: outside none none;
    outline: rgb(88, 96, 105) none 0px;
    padding: 0px 0px 0px 8px;
}/*#SPAN_9*/

#SPAN_9:after {
    color: rgb(88, 96, 105);
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none solid rgb(88, 96, 105);
    text-size-adjust: 100%;
    column-rule-color: rgb(88, 96, 105);
    caret-color: rgb(88, 96, 105);
    border: 0px none rgb(88, 96, 105);
    font: 14px / 21px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    list-style: outside none none;
    outline: rgb(88, 96, 105) none 0px;
}/*#SPAN_9:after*/

#SPAN_9:before {
    color: rgb(88, 96, 105);
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none solid rgb(88, 96, 105);
    text-size-adjust: 100%;
    column-rule-color: rgb(88, 96, 105);
    caret-color: rgb(88, 96, 105);
    border: 0px none rgb(88, 96, 105);
    font: 14px / 21px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    list-style: outside none none;
    outline: rgb(88, 96, 105) none 0px;
}/*#SPAN_9:before*/

#svg_10 {
    box-sizing: border-box;
    color: rgb(88, 96, 105);
    display: inline-block;
    height: 16px;
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none solid rgb(88, 96, 105);
    text-size-adjust: 100%;
    vertical-align: text-bottom;
    width: 8px;
    column-rule-color: rgb(88, 96, 105);
    perspective-origin: 4px 8px;
    transform-origin: 4px 8px;
    fill: rgb(88, 96, 105);
    caret-color: rgb(88, 96, 105);
    border: 0px none rgb(88, 96, 105);
    font: 14px / 21px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    list-style: outside none none;
    outline: rgb(88, 96, 105) none 0px;
    overflow: hidden;
}/*#svg_10*/

#svg_10:after {
    color: rgb(88, 96, 105);
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none solid rgb(88, 96, 105);
    text-size-adjust: 100%;
    column-rule-color: rgb(88, 96, 105);
    fill: rgb(88, 96, 105);
    caret-color: rgb(88, 96, 105);
    border: 0px none rgb(88, 96, 105);
    font: 14px / 21px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    list-style: outside none none;
    outline: rgb(88, 96, 105) none 0px;
}/*#svg_10:after*/

#svg_10:before {
    color: rgb(88, 96, 105);
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none solid rgb(88, 96, 105);
    text-size-adjust: 100%;
    column-rule-color: rgb(88, 96, 105);
    fill: rgb(88, 96, 105);
    caret-color: rgb(88, 96, 105);
    border: 0px none rgb(88, 96, 105);
    font: 14px / 21px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    list-style: outside none none;
    outline: rgb(88, 96, 105) none 0px;
}/*#svg_10:before*/

#path_11 {
    box-sizing: border-box;
    color: rgb(88, 96, 105);
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none solid rgb(88, 96, 105);
    text-size-adjust: 100%;
    column-rule-color: rgb(88, 96, 105);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    fill: rgb(88, 96, 105);
    fill-rule: evenodd;
    d: path("M 8 4 V 5 H 0 V 4 H 8 Z M 0 8 H 8 V 7 H 0 V 8 Z M 0 11 H 8 V 10 H 0 V 11 Z");
    caret-color: rgb(88, 96, 105);
    border: 0px none rgb(88, 96, 105);
    font: 14px / 21px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    list-style: outside none none;
    outline: rgb(88, 96, 105) none 0px;
}/*#path_11*/

#path_11:after {
    color: rgb(88, 96, 105);
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none solid rgb(88, 96, 105);
    text-size-adjust: 100%;
    column-rule-color: rgb(88, 96, 105);
    fill: rgb(88, 96, 105);
    fill-rule: evenodd;
    caret-color: rgb(88, 96, 105);
    border: 0px none rgb(88, 96, 105);
    font: 14px / 21px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    list-style: outside none none;
    outline: rgb(88, 96, 105) none 0px;
}/*#path_11:after*/

#path_11:before {
    color: rgb(88, 96, 105);
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none solid rgb(88, 96, 105);
    text-size-adjust: 100%;
    column-rule-color: rgb(88, 96, 105);
    fill: rgb(88, 96, 105);
    fill-rule: evenodd;
    caret-color: rgb(88, 96, 105);
    border: 0px none rgb(88, 96, 105);
    font: 14px / 21px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    list-style: outside none none;
    outline: rgb(88, 96, 105) none 0px;
}/*#path_11:before*/

#BUTTON_12, #BUTTON_15 {
    background-position: -1px -1px;
    clip: rect(1px, 1px, 1px, 1px);
    color: rgb(3, 102, 214);
    cursor: pointer;
    display: none;
    height: 1px;
    overflow-wrap: break-word;
    position: absolute;
    right: 0px;
    text-decoration: none solid rgb(3, 102, 214);
    text-size-adjust: 100%;
    vertical-align: middle;
    white-space: nowrap;
    width: 1px;
    column-rule-color: rgb(3, 102, 214);
    user-select: none;
    caret-color: rgb(3, 102, 214);
    background: rgb(255, 255, 255) none repeat-x scroll -1px -1px / 110% 110% padding-box border-box;
    border: 1px solid rgba(27, 31, 35, 0.2);
    border-radius: 3px;
    font: 600 12px / 20px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    list-style: outside none none;
    outline: rgb(3, 102, 214) none 0px;
    overflow: hidden;
    padding: 3px 10px;
}/*#BUTTON_12, #BUTTON_15*/

#BUTTON_12:after, #BUTTON_15:after {
    color: rgb(3, 102, 214);
    cursor: pointer;
    overflow-wrap: break-word;
    text-decoration: none solid rgb(3, 102, 214);
    text-size-adjust: 100%;
    white-space: nowrap;
    column-rule-color: rgb(3, 102, 214);
    user-select: none;
    caret-color: rgb(3, 102, 214);
    border: 0px none rgb(3, 102, 214);
    font: 600 12px / 20px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    list-style: outside none none;
    outline: rgb(3, 102, 214) none 0px;
}/*#BUTTON_12:after, #BUTTON_15:after*/

#BUTTON_12:before, #BUTTON_15:before {
    color: rgb(3, 102, 214);
    cursor: pointer;
    overflow-wrap: break-word;
    text-decoration: none solid rgb(3, 102, 214);
    text-size-adjust: 100%;
    white-space: nowrap;
    column-rule-color: rgb(3, 102, 214);
    user-select: none;
    caret-color: rgb(3, 102, 214);
    border: 0px none rgb(3, 102, 214);
    font: 600 12px / 20px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    list-style: outside none none;
    outline: rgb(3, 102, 214) none 0px;
}/*#BUTTON_12:before, #BUTTON_15:before*/

#svg_13, #svg_16 {
    box-sizing: border-box;
    color: rgb(3, 102, 214);
    cursor: pointer;
    display: inline-block;
    height: 16px;
    overflow-wrap: break-word;
    text-align: center;
    text-decoration: none solid rgb(3, 102, 214);
    text-size-adjust: 100%;
    vertical-align: text-top;
    white-space: nowrap;
    width: 10px;
    column-rule-color: rgb(3, 102, 214);
    user-select: none;
    fill: rgb(3, 102, 214);
    caret-color: rgb(3, 102, 214);
    border: 0px none rgb(3, 102, 214);
    font: 600 12px / 20px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    list-style: outside none none;
    outline: rgb(3, 102, 214) none 0px;
    overflow: hidden;
}/*#svg_13, #svg_16*/

#svg_13:after, #svg_16:after {
    color: rgb(3, 102, 214);
    cursor: pointer;
    overflow-wrap: break-word;
    text-align: center;
    text-decoration: none solid rgb(3, 102, 214);
    text-size-adjust: 100%;
    white-space: nowrap;
    column-rule-color: rgb(3, 102, 214);
    user-select: none;
    fill: rgb(3, 102, 214);
    caret-color: rgb(3, 102, 214);
    border: 0px none rgb(3, 102, 214);
    font: 600 12px / 20px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    list-style: outside none none;
    outline: rgb(3, 102, 214) none 0px;
}/*#svg_13:after, #svg_16:after*/

#svg_13:before, #svg_16:before {
    color: rgb(3, 102, 214);
    cursor: pointer;
    overflow-wrap: break-word;
    text-align: center;
    text-decoration: none solid rgb(3, 102, 214);
    text-size-adjust: 100%;
    white-space: nowrap;
    column-rule-color: rgb(3, 102, 214);
    user-select: none;
    fill: rgb(3, 102, 214);
    caret-color: rgb(3, 102, 214);
    border: 0px none rgb(3, 102, 214);
    font: 600 12px / 20px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    list-style: outside none none;
    outline: rgb(3, 102, 214) none 0px;
}/*#svg_13:before, #svg_16:before*/

#path_14 {
    box-sizing: border-box;
    color: rgb(3, 102, 214);
    cursor: pointer;
    overflow-wrap: break-word;
    text-align: center;
    text-decoration: none solid rgb(3, 102, 214);
    text-size-adjust: 100%;
    white-space: nowrap;
    column-rule-color: rgb(3, 102, 214);
    transform-origin: 0px 0px;
    user-select: none;
    fill: rgb(3, 102, 214);
    fill-rule: evenodd;
    d: path("M 10 10 L 8.5 11.5 L 5 7.75 L 1.5 11.5 L 0 10 L 5 5 L 10 10 Z");
    caret-color: rgb(3, 102, 214);
    border: 0px none rgb(3, 102, 214);
    font: 600 12px / 20px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    list-style: outside none none;
    outline: rgb(3, 102, 214) none 0px;
}/*#path_14*/

#path_14:after {
    color: rgb(3, 102, 214);
    cursor: pointer;
    overflow-wrap: break-word;
    text-align: center;
    text-decoration: none solid rgb(3, 102, 214);
    text-size-adjust: 100%;
    white-space: nowrap;
    column-rule-color: rgb(3, 102, 214);
    user-select: none;
    fill: rgb(3, 102, 214);
    fill-rule: evenodd;
    caret-color: rgb(3, 102, 214);
    border: 0px none rgb(3, 102, 214);
    font: 600 12px / 20px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    list-style: outside none none;
    outline: rgb(3, 102, 214) none 0px;
}/*#path_14:after*/

#path_14:before {
    color: rgb(3, 102, 214);
    cursor: pointer;
    overflow-wrap: break-word;
    text-align: center;
    text-decoration: none solid rgb(3, 102, 214);
    text-size-adjust: 100%;
    white-space: nowrap;
    column-rule-color: rgb(3, 102, 214);
    user-select: none;
    fill: rgb(3, 102, 214);
    fill-rule: evenodd;
    caret-color: rgb(3, 102, 214);
    border: 0px none rgb(3, 102, 214);
    font: 600 12px / 20px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    list-style: outside none none;
    outline: rgb(3, 102, 214) none 0px;
}/*#path_14:before*/

#path_17 {
    box-sizing: border-box;
    color: rgb(3, 102, 214);
    cursor: pointer;
    overflow-wrap: break-word;
    text-align: center;
    text-decoration: none solid rgb(3, 102, 214);
    text-size-adjust: 100%;
    white-space: nowrap;
    column-rule-color: rgb(3, 102, 214);
    transform-origin: 0px 0px;
    user-select: none;
    fill: rgb(3, 102, 214);
    fill-rule: evenodd;
    d: path("M 5 11 L 0 6 L 1.5 4.5 L 5 8.25 L 8.5 4.5 L 10 6 L 5 11 Z");
    caret-color: rgb(3, 102, 214);
    border: 0px none rgb(3, 102, 214);
    font: 600 12px / 20px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    list-style: outside none none;
    outline: rgb(3, 102, 214) none 0px;
}/*#path_17*/

#path_17:after {
    color: rgb(3, 102, 214);
    cursor: pointer;
    overflow-wrap: break-word;
    text-align: center;
    text-decoration: none solid rgb(3, 102, 214);
    text-size-adjust: 100%;
    white-space: nowrap;
    column-rule-color: rgb(3, 102, 214);
    user-select: none;
    fill: rgb(3, 102, 214);
    fill-rule: evenodd;
    caret-color: rgb(3, 102, 214);
    border: 0px none rgb(3, 102, 214);
    font: 600 12px / 20px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    list-style: outside none none;
    outline: rgb(3, 102, 214) none 0px;
}/*#path_17:after*/

#path_17:before {
    color: rgb(3, 102, 214);
    cursor: pointer;
    overflow-wrap: break-word;
    text-align: center;
    text-decoration: none solid rgb(3, 102, 214);
    text-size-adjust: 100%;
    white-space: nowrap;
    column-rule-color: rgb(3, 102, 214);
    user-select: none;
    fill: rgb(3, 102, 214);
    fill-rule: evenodd;
    caret-color: rgb(3, 102, 214);
    border: 0px none rgb(3, 102, 214);
    font: 600 12px / 20px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    list-style: outside none none;
    outline: rgb(3, 102, 214) none 0px;
}/*#path_17:before*/

#P_18 {
    box-sizing: border-box;
    color: rgb(88, 96, 105);
    height: 52.8px;
    min-height: auto;
    min-width: auto;
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none solid rgb(88, 96, 105);
    text-size-adjust: 100%;
    width: 277.725px;
    column-rule-color: rgb(88, 96, 105);
    perspective-origin: 138.863px 26.4px;
    transform-origin: 138.863px 26.4px;
    caret-color: rgb(88, 96, 105);
    border: 0px none rgb(88, 96, 105);
    flex: 1 0 auto;
    font: 12px / 18px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    list-style: outside none none;
    margin: 8px 0px 16px;
    outline: rgb(88, 96, 105) none 0px;
}/*#P_18*/

#P_18:after {
    color: rgb(88, 96, 105);
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none solid rgb(88, 96, 105);
    text-size-adjust: 100%;
    column-rule-color: rgb(88, 96, 105);
    caret-color: rgb(88, 96, 105);
    border: 0px none rgb(88, 96, 105);
    font: 12px / 18px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    list-style: outside none none;
    outline: rgb(88, 96, 105) none 0px;
}/*#P_18:after*/

#P_18:before {
    color: rgb(88, 96, 105);
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none solid rgb(88, 96, 105);
    text-size-adjust: 100%;
    column-rule-color: rgb(88, 96, 105);
    caret-color: rgb(88, 96, 105);
    border: 0px none rgb(88, 96, 105);
    font: 12px / 18px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    list-style: outside none none;
    outline: rgb(88, 96, 105) none 0px;
}/*#P_18:before*/

#P_19 {
    box-sizing: border-box;
    color: rgb(88, 96, 105);
    height: 17.6px;
    min-height: auto;
    min-width: auto;
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none solid rgb(88, 96, 105);
    text-size-adjust: 100%;
    width: 277.725px;
    column-rule-color: rgb(88, 96, 105);
    perspective-origin: 138.863px 8.8px;
    transform-origin: 138.863px 8.8px;
    caret-color: rgb(88, 96, 105);
    border: 0px none rgb(88, 96, 105);
    font: 12px / 18px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    list-style: outside none none;
    margin: 0px;
    outline: rgb(88, 96, 105) none 0px;
}/*#P_19*/

#P_19:after {
    color: rgb(88, 96, 105);
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none solid rgb(88, 96, 105);
    text-size-adjust: 100%;
    column-rule-color: rgb(88, 96, 105);
    caret-color: rgb(88, 96, 105);
    border: 0px none rgb(88, 96, 105);
    font: 12px / 18px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    list-style: outside none none;
    outline: rgb(88, 96, 105) none 0px;
}/*#P_19:after*/

#P_19:before {
    color: rgb(88, 96, 105);
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none solid rgb(88, 96, 105);
    text-size-adjust: 100%;
    column-rule-color: rgb(88, 96, 105);
    caret-color: rgb(88, 96, 105);
    border: 0px none rgb(88, 96, 105);
    font: 12px / 18px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    list-style: outside none none;
    outline: rgb(88, 96, 105) none 0px;
}/*#P_19:before*/

#SPAN_20 {
    box-sizing: border-box;
    color: rgb(88, 96, 105);
    display: inline-block;
    height: 17.6px;
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none solid rgb(88, 96, 105);
    text-size-adjust: 100%;
    width: 52.5px;
    column-rule-color: rgb(88, 96, 105);
    perspective-origin: 26.25px 8.8px;
    transform-origin: 26.25px 8.8px;
    caret-color: rgb(88, 96, 105);
    border: 0px none rgb(88, 96, 105);
    font: 12px / 18px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    list-style: outside none none;
    margin: 0px 16px 0px 0px;
    outline: rgb(88, 96, 105) none 0px;
}/*#SPAN_20*/

#SPAN_20:after {
    color: rgb(88, 96, 105);
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none solid rgb(88, 96, 105);
    text-size-adjust: 100%;
    column-rule-color: rgb(88, 96, 105);
    caret-color: rgb(88, 96, 105);
    border: 0px none rgb(88, 96, 105);
    font: 12px / 18px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    list-style: outside none none;
    outline: rgb(88, 96, 105) none 0px;
}/*#SPAN_20:after*/

#SPAN_20:before {
    color: rgb(88, 96, 105);
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none solid rgb(88, 96, 105);
    text-size-adjust: 100%;
    column-rule-color: rgb(88, 96, 105);
    caret-color: rgb(88, 96, 105);
    border: 0px none rgb(88, 96, 105);
    font: 12px / 18px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    list-style: outside none none;
    outline: rgb(88, 96, 105) none 0px;
}/*#SPAN_20:before*/

#SPAN_21 {
    bottom: -1px;
    box-sizing: border-box;
    color: rgb(88, 96, 105);
    display: inline-block;
    height: 12px;
    left: 0px;
    overflow-wrap: break-word;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(88, 96, 105);
    text-size-adjust: 100%;
    top: 1px;
    width: 12px;
    column-rule-color: rgb(88, 96, 105);
    perspective-origin: 6px 6px;
    transform-origin: 6px 6px;
    caret-color: rgb(88, 96, 105);
    background: rgb(53, 114, 165) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(88, 96, 105);
    border-radius: 50%;
    font: 12px / 18px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    list-style: outside none none;
    outline: rgb(88, 96, 105) none 0px;
}/*#SPAN_21*/

#SPAN_21:after {
    color: rgb(88, 96, 105);
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none solid rgb(88, 96, 105);
    text-size-adjust: 100%;
    column-rule-color: rgb(88, 96, 105);
    caret-color: rgb(88, 96, 105);
    border: 0px none rgb(88, 96, 105);
    font: 12px / 18px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    list-style: outside none none;
    outline: rgb(88, 96, 105) none 0px;
}/*#SPAN_21:after*/

#SPAN_21:before {
    color: rgb(88, 96, 105);
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none solid rgb(88, 96, 105);
    text-size-adjust: 100%;
    column-rule-color: rgb(88, 96, 105);
    caret-color: rgb(88, 96, 105);
    border: 0px none rgb(88, 96, 105);
    font: 12px / 18px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    list-style: outside none none;
    outline: rgb(88, 96, 105) none 0px;
}/*#SPAN_21:before*/

#SPAN_22 {
    box-sizing: border-box;
    color: rgb(88, 96, 105);
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none solid rgb(88, 96, 105);
    text-size-adjust: 100%;
    column-rule-color: rgb(88, 96, 105);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(88, 96, 105);
    border: 0px none rgb(88, 96, 105);
    font: 12px / 18px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    list-style: outside none none;
    outline: rgb(88, 96, 105) none 0px;
}/*#SPAN_22*/

#SPAN_22:after {
    color: rgb(88, 96, 105);
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none solid rgb(88, 96, 105);
    text-size-adjust: 100%;
    column-rule-color: rgb(88, 96, 105);
    caret-color: rgb(88, 96, 105);
    border: 0px none rgb(88, 96, 105);
    font: 12px / 18px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    list-style: outside none none;
    outline: rgb(88, 96, 105) none 0px;
}/*#SPAN_22:after*/

#SPAN_22:before {
    color: rgb(88, 96, 105);
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none solid rgb(88, 96, 105);
    text-size-adjust: 100%;
    column-rule-color: rgb(88, 96, 105);
    caret-color: rgb(88, 96, 105);
    border: 0px none rgb(88, 96, 105);
    font: 12px / 18px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    list-style: outside none none;
    outline: rgb(88, 96, 105) none 0px;
}/*#SPAN_22:before*/

#A_23 {
    box-sizing: border-box;
    color: rgb(88, 96, 105);
    display: inline-block;
    height: 17.6px;
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none solid rgb(88, 96, 105);
    text-size-adjust: 100%;
    width: 23.7625px;
    column-rule-color: rgb(88, 96, 105);
    perspective-origin: 11.875px 8.8px;
    transform-origin: 11.8813px 8.8px;
    caret-color: rgb(88, 96, 105);
    border: 0px none rgb(88, 96, 105);
    font: 12px / 18px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    list-style: outside none none;
    outline: rgb(88, 96, 105) none 0px;
}/*#A_23*/

#A_23:after {
    color: rgb(88, 96, 105);
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none solid rgb(88, 96, 105);
    text-size-adjust: 100%;
    column-rule-color: rgb(88, 96, 105);
    caret-color: rgb(88, 96, 105);
    border: 0px none rgb(88, 96, 105);
    font: 12px / 18px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    list-style: outside none none;
    outline: rgb(88, 96, 105) none 0px;
}/*#A_23:after*/

#A_23:before {
    color: rgb(88, 96, 105);
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none solid rgb(88, 96, 105);
    text-size-adjust: 100%;
    column-rule-color: rgb(88, 96, 105);
    caret-color: rgb(88, 96, 105);
    border: 0px none rgb(88, 96, 105);
    font: 12px / 18px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    list-style: outside none none;
    outline: rgb(88, 96, 105) none 0px;
}/*#A_23:before*/


footer {
    grid-area: fo;
    display: flex;
    width: 100%;
}

footer .inner-footer {
    max-width: 1250px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 0.7rem;
}
footer .inner-footer h2 {
    font-size: 1rem;
    text-decoration: none;
    color: #ffffff;
}
footer .inner-footer a h2 {
    text-decoration: underline;
}
.inner-footer .contacts {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-left: 40px; */
}
.inner-footer .contacts a {
    height: 50%;
    display: flex;
    align-items: center;
}
.inner-footer .contacts a img {
    max-width: 100%;
    max-height: 100%;
}

.inner-footer .divider {
    width: 5px;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: space-around;
}
.inner-footer .divider > div {
    position: relative;
    width: 100%;
    background-color: #EB0077;
}
.inner-footer .divider > div:after {
    background-color: #F09700;
    content: "";
    display: block;
    width: 100%;
    height: 33%;
}
.inner-footer .divider > div:before {
    background-color: #3E7EE1;
    content: "";
    display: block;
    width: 100%;
    height: 33%;
}